.boxed-container {
  position: relative;
  border-radius: 4px;
  padding: 30px;
  background: #F6F6F6;
  border: 1px dashed #ddd;
}

.boxed-content-item {
  border-radius: 10px;
  border: 1px dashed #ddd;
  padding: 30px;
  background: #fff;
  position: relative;
}