    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-VrjIEaFfYg0mp5Vz0YDqsqziPd1Zs3sJ5KouQIw1lv4nkPKOfFL2fCw/w6S6FW4e" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
