<div class="main-logo">
    <img src="/images/the-white-hart-bodmin-logo.png" class="img-fluid" alt="The White Hart Pub in Bodmin">
</div>


<header class="main-header">

    <div class="main-header-container">

        <div class="main-nav-wrapper">

            <div class="nav_dec"><span></span></div>

            <nav class="main-nav">

                <ul class="main-nav-list">
                    <li class="main-nav-item">
                        <a class="main-nav-link" href="#">Home</a>
                    </li>
                    <li class="main-nav-item">
                        <a class="main-nav-link" href="#">Menu</a>
                    </li>
                    <li class="main-nav-item">
                        <a class="main-nav-link" href="#">Events</a>
                    </li>
                    <li class="main-nav-item">
                        <a class="main-nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </nav>

            <div class="nav_dec"><span></span></div>

        </div>

        <div class="main-header-contacts">
            <div class="mhc_dec"></div>
            <div class="main-header-contacts-wrap">
                <ul>
                    <li><span>Write</span><a href="mailto:yourmail@domain.com"> contact@theh.art</a></li>
                    <li><span>Visit</span><a href="" target="_blank">The White Hart Inn, Pool St, Bodmin PL31 2HA.</a></li>
                    <li><span>Call</span><a href="tel:+441208368786">01208 368786</a></li>
                </ul>
            </div>
            <div class="header-social">
                <a href="#" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </div>
            <div class="nav-separator"><span></span></div>
        </div>


    </div>
</header>