<div class="brush-dec"></div>

<section class="food-banner">
    <div class="container" style="max-width: 1090px;">
        <div class="row">
            <div class="col-md-5 food-banner-image text-center">
                <img src="images/small-breakfast.jpg" class="img-fluid" alt="">
                <div class="nav_dec"><span></span></div>
                <img src="images/large-breakfast.jpg" class="img-fluid" alt="">
                <div class="nav_dec"><span></span></div>


            </div>
            <div class="col-md-7 food-banner-content">

                <div class="boxed-container">

                    <div class="boxed-content-item text-start">
                        <h1>Food Service Times</h1>
                        <p><strong>Main Menu</strong> - Mon/Tue/Thur/Fri/Sat | 10:00 - 16:00</p>
                        <p><strong>Sunday Lunch</strong> - Sundays | 12:00 - 13:00</p>
                        <p><strong>Guest Food Evening</strong> - Wednesdays | 17:00 - 20:00 </p>
                    </div>


                </div>
                <div class="nav_dec"><span></span></div>

                <img src="images/pop-up-food.jpg" class="img-fluid" alt="">
                <div class="nav_dec"><span></span></div>


            </div>
        </div>
    </div>
</section>

<section id="menu" class="stage-menu">

    <div class="boxed-container">

        <div class="boxed-content-item">

            <h1>
                <span class="subtitle">Food from the Hart</span>
                Main Menu
            </h1>

            <p class="lead">
                <strong>Our Main Menu is served Mon/Tue/Thur/Fri/Sat, from 10am 'till 3pm.</strong><br/>
                <em>Takeaway Available.</em>
            </p>
            <div class="nav_dec"><span></span></div>

            <div class="menu--main menu">

                <div class="row">

                    <div class="col-md-6">

                        <div class="menu-section menu-section--left">

                            <h3>All Day Breakfast</h3>
                            <p><small>Breakfast comes with a choice of Toast, Fried Bread or Bread &amp; Butter.</small>
                            </p>
                            <div class="menu-item">
                                <h4>Small Breakfast<span class="price">£7.95</span></h4>
                                <p>Sausage, Bacon, Egg, Tomatoes, Mushrooms, Hash Brown, Beans.</p>
                            </div>

                            <div class="menu-item">
                                <h4>Large Breakfast<span class="price">£10.95</span></h4>
                                <p>2 Sausages, 2 Bacon, 2 Eggs, Tomatoes, Mushrooms, Hash Browns, Beans, Hogs/Black
                                    Pudding.</p>
                            </div>

                        </div>
                        <div class="menu-section menu-section--left">

                            <h3>Sandwiches/Toasted Sandwiches</h3>
                            <p><small>Served with Side Salad & Tortilla Chips.</small></p>
                            <div class="menu-item">
                                <h4>Tuna Mayo <span class="price">£5.95</span></h4>
                            </div>
                            <div class="menu-item">
                                <h4>BLT <span class="price">£5.95</span></h4>
                            </div>
                            <div class="menu-item">
                                <h4>Bacon, Brie &amp; Cranberry <span class="price">£5.95</span></h4>
                            </div>
                            <div class="menu-item">
                                <h4>Breakfast Club <span class="price">£5.95</span></h4>
                            </div>
                            <div class="menu-item">
                                <h4>Ham &amp; Cheese <span class="price">£5.95</span></h4>
                            </div>

                        </div>

                        <div class="menu-section menu-section--left">
                            <h3>Snack Boxes with Chips</h3>
                            <p><small>Served with Side Salad & Tortilla Chips.</small></p>
                            <div class="menu-item">
                                <h4>Chicken Strips <span class="price">£4.95</span></h4>
                                <h4>Cod Bites <span class="price">£4.95</span></h4>
                                <h4>Popcorn Chicken <span class="price">£4.95</span></h4>
                                <h4>Chicken Wings <small>- BBQ/Sweet Chilli</small> <span class="price">£4.95</span>
                                </h4>

                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class=" menu-section menu-section--right">
                            <h3>Burgers</h3>
                            <p><small>Served with Chips, Salad & Coleslaw.</small>
                            </p>
                            <div class="menu-item">
                                <h4>Chicken Burger <span class="price">£11.95</span></h4>
                                <p>Chicken Burger with Bacon, Cheese, Hash Brown & BBQ Sauce.</p>
                            </div>

                            <div class="menu-item">
                                <h4>4oz Cheese Burger <span class="price">£9.95</span></h4>
                                <p>A 4oz Beef Burger topped with Cheese.<br/><small>Add Bacon - £1 | Double Up -
                                        £1.50</small></p>
                            </div>

                            <div class="menu-item">
                                <h4>Veggie Burger <span class="price">£9.95</span></h4>
                            </div>
                        </div>

                        <div class=" menu-section menu-section--right">
                            <h3>Pizza</h3>
                            <div class="menu-item">
                                <h4>9" - £7.95 &nbsp;&nbsp; | &nbsp;&nbsp; 12" - £10.95</h4>
                                <h4>Pepperoni</h4>
                                <h4>Meat Feast</h4>
                                <h4>BBQ Chicken</h4>
                                <h4>Cheese</h4>
                            </div>
                        </div>

                        <div class=" menu-section menu-section--right">
                            <h3>Sides</h3>
                            <div class="menu-item">
                                <h4>Onion Rings <span class="price">£2.95</span></h4>
                                <h4>Chips <span class="price">£2.95</span></h4>
                                <h4>Cheesey Chips <span class="price">£2.95</span></h4>
                            </div>
                        </div>
                        <div class=" menu-section menu-section--right">
                            <p><strong>Allergen Information:</strong> Our kitchen deals with a variety of allergens so
                                we are unable to cater for people with specific allergies or special dietry
                                requirements.</p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="brush-dec2"></div>