<br id="contact"/>
<div class="brush-dec"></div>

<section class="stage-contact">

    <div class="boxed-container mb-4">

        <div class="boxed-content-item">

            <h1>
                <span class="subtitle">Contact the Hart</span>
                Get in Touch
            </h1>

            <%- include('../elements/section-separator') %>

            <div class="row">
                <div class="col-md-4 phone">
                    <a href="tel:+441208368786"><i class="fa-solid fa-circle-phone-hangup"></i><span>01208 368786</span></a></li>

                </div>

                <div class="col-md-4 address">
                    <a href="https://www.google.com/maps?gs_lcrp=EgZjaHJvbWUqBggAEEUYOzIGCAAQRRg7Mg0IARAuGK8BGMcBGIAEMgcIAhAAGIAEMgYIAxBFGDsyEwgEEC4YrwEYxwEYgAQYmAUYmQUyBggFEEUYPDIGCAYQRRg8MgYIBxBFGD3SAQg1MjY1ajBqN6gCALACAA&um=1&ie=UTF-8&fb=1&gl=uk&sa=X&geocode=KV0KWv9CemtIMZKmgmZ6Qkkg&daddr=Pool+St,+Bodmin+PL31+2HA"
                       target="_blank"><i class="fa-solid fa-compass"></i><span>The White Hart<br><small>Pool St, Bodmin, PL31 2HA.</small></span></a>
                </div>
                <div class="col-md-4 email">
                    <a href="mailto:info@theh.art"><i
                                class="fa-solid fa-circle-envelope"></i><span>contact@theh.art</span></a>
                </div>

            </div>
            <div class="nav_dec" style="margin-top: 30px;"><span></span></div>


        </div>

    </div>

    <div class="boxed-container">

        <div class="boxed-content-item p-0">

            <div class="map-wrapper">

                <div class="map-container mapC_vis">
                    <div id="singleMap" class="map fs-wrapper" data-latlog="[50.472 , -4.719]"></div>
                </div>
            </div>
        </div>
    </div>

</section>


<div class="brush-dec2"></div>

