<section id="home" class="stage-intro">

    <header class="stage-intro-header">

        <img class="stage-intro-header-image" src="images/photo-white-hart-inn-bodmin-29.jpg"/>

        <div class="stage-intro-header-inner">

            <h1>
                <span>Welcome to</span><br/>
                The White Hart
            </h1>

            <div class="nav_dec"><span></span></div>

            <p>
                The White Hart Inn is one of Bodmin’s oldest pubs,<br/>full of character and local stories.</p>
            <p>Set in a listed building on Pool Street, it’s the kind of place that feels familiar the moment you walk in – low
                beams, slate roof, a proper bar and a friendly crowd.</p>

            <div class="nav_dec"><span></span></div>
        </div>

    </header>


    <div class="stage-intro-pods">

        <div class="row">
            <div class="col-md-3 col-6">
                <div class="inner">
                    <div class="icon">
                       <i class="fa-duotone fa-solid fa-pot-food"></i>
                    </div>
                    <h3><a href="#menu">Great Food</a></h3>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="inner">
                    <div class="icon">
                        <i class="fa-duotone fa-solid fa-guitar-electric"></i>
                    </div>
                    <h3><a href="#events">Live Music</a></h3>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="inner">
                    <div class="icon">
                        <i class="fa-duotone fa-solid fa-calendar-star"></i>
                    </div>
                    <h3><a href="#events">Fun Events</a></h3>
                </div>
            </div>

            <div class="col-md-3 col-6">
                <div class="inner">
                    <div class="icon">
                        <i class="fa-solid fa-dog-leashed"></i>
                    </div>
                    <h3><a href="#">Dog Friendly</a></h3>
                </div>
            </div>
        </div>

    </div>

</section>