<br id="events"/>
<section class="stage-events">

    <div class="container">

        <h1>
            <span class="subtitle">Live Music, Sport, DJ's & More</span>
            Upcoming Events
        </h1>

        <div class="nav_dec"><span></span></div>


        <div class="row events-container">

            <div class="col-md-4 col-sm-6 col-xs-12 event">

                <a href="https://fb.me/e/1PpOEALQAI" target="_blank" class="event-link">
                    <img src="images/events/25-10-karaoke.jpg" class="event-thumbnail img-fluid img-thumbnail img-rounded">
                </a>

                <div class="event-info">
                     <span class="event-date"><i class="fa-solid fa-calendar-days"></i>  Saturday 25th October</span>
                    <h3>Bodmin Karaoke Night</h3>
                </div>
                <div class="nav_dec"><span></span></div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 event">
                <a href="https://fb.me/e/2JmvGCm7W" target="_blank" class="event-link">

                    <img src="images/events/26-10-matt-bowen.jpg" class="event-thumbnail img-fluid img-thumbnail img-rounded">
                </a>
                <div class="event-info">
                    <span class="event-date"><i class="fa-solid fa-calendar-days"></i> Sunday 26th October</span>
                    <h3>Matt Bowen - Pure Acoustic Covers</h3>
                </div>
                <div class="nav_dec"><span></span></div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 event">
                <a href="https://fb.me/e/dZgUZb2MK" target="_blank" class="event-link">
                    <img src="images/events/31-10-halloween.jpg" class="event-thumbnail img-fluid img-thumbnail img-rounded">
                </a>
                <div class="event-info">
                    <span class="event-date"><i class="fa-solid fa-calendar-days"></i> Friday 31st October</span>
                    <h3>Drum &amp; Bass Halloween Special</h3>
                </div>
                <div class="nav_dec"><span></span></div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 event">
                <a href="https://www.facebook.com/events/24425733183776658/" target="_blank" class="event-link">
                    <img src="images/events/1-11-25-saturday-night-party.jpg" class="event-thumbnail img-fluid img-thumbnail img-rounded">
                </a>
                <div class="event-info">
                    <span class="event-date"><i class="fa-solid fa-calendar-days"></i> Saturday 1st November</span>
                    <h3>Saturday Night Party with DJ ARMBANDBOY</h3>
                </div>
                <div class="nav_dec"><span></span></div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 event">
                <a href="https://www.facebook.com/events/1147682943466039/" target="_blank" class="event-link">
                    <img src="images/events/02-11-25-marley-white-ska-reggae.jpg" class="event-thumbnail img-fluid img-thumbnail img-rounded">
                </a>
                <div class="event-info">
                    <span class="event-date"><i class="fa-solid fa-calendar-days"></i> Sunday 2nd November</span>
                    <h3>Marley White - The Ultimate Ska and Reggae Tribute</h3>
                </div>
                <div class="nav_dec"><span></span></div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 event">
                <a href="https://www.facebook.com/events/1343935497285376/" target="_blank" class="event-link">
                    <img src="images/events/15-11-25-fonzies-karaoke.jpg" class="event-thumbnail img-fluid img-thumbnail img-rounded">
                </a>
                <div class="event-info">
                    <span class="event-date"><i class="fa-solid fa-calendar-days"></i> Saturday 15th November</span>
                    <h3>Fonzie's Karaoke Night at The White Hart</h3>
                </div>
                <div class="nav_dec"><span></span></div>
            </div>


        </div>

    </div>

</section>