.main-nav-wrapper {
  position: relative;
  z-index: 5;

  @include media-breakpoint-up(md) {
    float: left;
    width: 310px;
    margin-top: 190px;
  }
}


// Nav Button Mobile
.nav-button-wrap {
  height: 60px;
  width: 60px;
  cursor: pointer;
  position: absolute;
  display: block;
  top: -10px;
  right: 5px;
  z-index: 5001;

  @include media-breakpoint-up(md) {
    display: none;
  }

  .nav-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 22px;
    height: 20px;
    margin-left: -11px;
    margin-top: -6px;

    @include media-breakpoint-up(md) {

      position: absolute;
      top: 50%;
      left: 50%;
      width: 30px;
      height: 30px;
      margin-left: -11px;
      margin-top: -1px;
    }

    span {
      float: left;
      width: 100%;
      height: 2px;
      background: #fff;
      margin-bottom: 4px;
      transition: all .3s ease-in-out;

      &:first-child {
        width: 50%;
      }
    }

  }

  &.nbw_tb {
    span {

      width: 0;
    }

    &:before {
      transition-delay: .3s;
      opacity: 1;
    }
  }

  &:before {
    font-family: "Font Awesome 6 Pro";
    content: "\f00d";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    height: 80px;
    line-height: 80px;
    opacity: 0;
    color: var(--main-color);
    font-size: 19px;
    transition: all .3s ease-in-out;
  }

  @include media-breakpoint-up(md) {
    width: 40px;
    height: 40px;
  }
}

// Nav Button Mobile End

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $brand_dark;
  padding-top: 120px;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 9999;
  &.open {
    display: block;
  }
  @include media-breakpoint-up(md) {
    display: block;
    padding-top: 0;
    background: none;
    position: relative;
  }

  ul {
    margin: 0 0 30px 0;
    width: 100%;
    padding: 0;
    overflow: hidden;
    @include media-breakpoint-up(md) {
      float: left;
      margin-bottom: 0;
    }
  }

  li {
    margin: 0 0 10px 0;
    position: relative;
    float: left;
    width: 100%;
    list-style: none;
  }

  a {
    color: #fff;
    font-size: 2.1em;
    height: 42px;
    font-weight: 500;
    line-height: 42px;
    text-transform: uppercase;
    position: relative;
    display: block;
    text-decoration: none;
  }
}