.main-stage {
  vertical-align: top;
  position: relative;
  z-index: 2;
  padding-top: 120px;
  /* beasties:include */
  @media only screen and (min-width: 565px) {
    left: 350px;
    top: 90px;
    position: absolute;
    right: 0;
    bottom: 0;
  }

}