.main-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  overflow: hidden;
  width: 100%;
  height: 90px;

  @media only screen and (min-width: 565px) {
    width: 350px;
    bottom: 0;
    height: 100%;
  }

  &-container {
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    z-index: 2;
  }

  .main-header-contacts {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 0 40px;
  }

  .main-header-contacts-wrap {
    padding-top: 25px;
    border-top: 1px dashed rgba(255, 255, 255, .2);
    display: none;
    @media only screen and (min-width: 565px) {
      display: block;
    }
  }

  .main-header-contacts-wrap li {
    font-size: 1.2em;
    margin-bottom: 5px;
  }

  .main-header-contacts-wrap li a {
    color: #fff
  }

  .main-header-contacts-wrap li span {
    display: block;
    color: $brand_yellow;
    margin-bottom: 4px;
  }

  .header-social {
    border-top: 1px dashed rgba(255, 255, 255, .2);
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    padding-top: 20px;
    @media only screen and (min-width: 565px) {
      margin-top: 20px;
      padding-top: 34px;
      position: relative;
      bottom: 0;
    }

  }

  .header-social a {
    color: $brand_yellow;
    display: inline-block;
    margin: 0 20px;
  }
}