<%- include('partials/head', { title }) %>


<body>


<%- include('partials/main-header') %>

<main class="main-stage">
    <section class="text-center mb-5">
        <p class="text-uppercase text-secondary fw-semibold mb-2">Welcome to</p>
        <h1 class="display-4 fw-medium mb-3 text-uppercase " style="letter-spacing: 4px;">The White Hart</h1>
        <div class="nav_dec"><span></span></div>

        <p class="lead mx-auto" style="max-width: 720px;">
            A modern British Inn that blends historic charm with contemporary hospitality.
        </p>


        <div class="nav_dec"><span></span></div>



        <p><a class="btn btn-primary btn-lg mt-3" href="#">Book a table</a></p>

    </section>
    <!-- <section class="row g-4 align-items-stretch">
        <div class="col-md-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h2 class="h4 card-title">Menus</h2>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                    <a href="#" class="card-link">View menus</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h2 class="h4 card-title">Events</h2>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                    <a href="#" class="card-link">See what's on</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h2 class="h4 card-title">Connect With Us</h2>
                    <p class="card-text">
                        ULorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                    <a href="#" class="card-link">Contact Us</a>
                </div>
            </div>
        </div>
    </section> -->
</main>
<%- include('partials/footer') %>
