html {
  overflow-x: hidden !important;
  height: 100%;
}

body {
  font-family: $brand_font;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-color: rgba(9,9,4,0.9);
  background-image: url("../images/photo-white-hart-inn-bodmin-29.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-attachment: fixed;
  height: 100%;
  text-align: center;
  font-size: 13px;
  color: white;
}

li, ul {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  position: relative;
  color: #000;
}

@import "partials/head";

@import "partials/main-header";

@import "partials/footer";