@use "bootstrap/scss/bootstrap" as *;

// Icon Font
// Icon Font
@import "fontawesome";
// Site Variables
@import "variables";

// Wire Framing - Responsive scaffolding, mobile first
@import "framing/base";

// Styling
@import "styling/base";




.card-title {
  letter-spacing: 0.02em;
}

.card-text {
  color: #495057;
}

.btn-primary {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0.75rem 2.5rem;
}
